{% extends 'base.html.twig' %}

{% block title %}Hello{% endblock %}

{% block body %}

    <ul class="row">
        {% for category in categories %}
            <li class="col-6">{{ category.name }}</li>
            {% endfor %}
    </ul>

    {{ form_start(form) }}
    {{ form_row(form.name) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
    {{ form_end(form) }}

    {{ category.name }}

{% endblock %}
