{% extends 'base.html.twig' %}
{% block html %}
    <!doctype html>
    <html lang="en">
    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" i
    </head>

    {% block title %}Hello {{ controller_name }}!{% endblock %}

    {% block body %}

        {% for category in tableau %}

            <div class="card" style="width: 18rem;">
            <div class="card-header" style="font-size: x-large;">
                <a href="/category/{{ category.owner.id }}">{{ category.owner.name }}</a>
            </div>
            {% for article in category %}
                <ul class="list-group list-group-flush">
                    <li class="list-group-item" >{{ article.title }}</li>
                    <li class="list-group-item">{{ article.content }}</li>
                </ul>
                </div>

            {% endfor %}

        {% endfor %}


    {% endblock %}

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    </body>
    </html>
{% endblock %}